# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAAVkCDn8mhwBOzUZBQqPoogEZCM8tDC9IXlYgIVJumvVP9zSyjePkt3D2MgBFco8YVzj0bYHGbyVUk45ykR6qlUbYxybLZBI4KnLW1fXRuKPnVLgEvYbo4O5P1oGZCNmQbzzxRBMTkcqZCaLV9Pt6DePP93pxaEpbH9ka8ZBWSpywL3LPOcTsKFRouEG1imD27"

APP_ID="1517361378925084"
APP_SECRET="ba1fa5a0d87d3161d6a6556c71252345"
RECIPIENT_WAID="6281278989888" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID="520078131183551"